<!-- This page is the initial page
 name: Jackson
 date: 12/28/02
 Description: Lab5 NETD
-->
@{
    ViewData["Title"] = "Lab 5 Card Library";
}

<!DOCTYPE HTML>

<html>

<head>

    <title>Lab 5 Card Library</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>


<body>

    <h1>Card Library </h1>

    <ul>
        <li><a class="active" href="~/Home/Index">Home</a></li>
        <li><a href="~/Cards">Register</a></li>


    </ul>

    <div class="center">

        <h3>About</h3>

        <h4>
           My Lab 5. To Register a card, please click Register

        </h4>

    </div>


</body>


</html>

